@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0; /* might have to get rid of this */
    font-family: 'Playfair Display', serif;
}

body {
    min-height: 100vh;
    background: #000000;
    
}

.pyramidContainer {
    position: relative;
    width: 100%;
    height: 1500;
}

.pyramid {
    width: 100%;
    height: 0;
    padding-top: 90.888%;
    position: sticky;
    top: 0;
    background-size: cover;
    background-image: url('/media/marquise/DRIVE/Documents - Copy/Illuminati Apprentice website/ill_app_scripts/images/Frame6.png');
}